- if user_signed_in? == false
  .sign
    .sign__in_link
      = link_to new_user_session_path, class:"link" do
        ログイン画面はこちらから
    .sign__up_link
      = link_to new_user_registration_path, class:"link" do
        ユーザー新規登録がこちらから
- else
  .root_wrapper
    .root_project_link
      = link_to user_path(current_user.id), class:"link_text" do
        = icon("fas", "project-diagram")
        まずはここからプロジェクトを作成、もしくは確認しましょう。
    .readme_btn_wrapper
      %button{ :class => "readme_btn"}
        このサービスについて
      
    .readme
      このサービスは、プロジェクトと、タスクの管理、情報共有を効率化するものです。
      %br
      自分の担当しているプロジェクト、タスクを確認しやすいこと、完遂率を確認できること、メッセージの送り方を選択できることがポイントです。
      %br
      基本的には、プロジェクト、メッセージ、タスクの３つのマイページを使っていきます。ページの上部中央から、どのページにいてもアクセスできます。
      %br
      また、プロジェクト、タスクを詳しく確認したい場合は、クリックすると、詳細画面に行けるようになっています。
      %br
      %br
      ちなみに、メッセージの送り方は４種類用意しています。
      %br
      プロジェクトコメント、タスクコメント、ユーザーメッセージ、チャットです。
      %br
      状況に応じて、使い分けてください。詳しい使い方は、以下に記載しています。
      %br
      %br
      使い方
      %br
      １、新規ユーザー登録/ログインする
      %br
      ２、プロジェクトを作成する（プロジェクトリーダー）
      %br
      ３、タスクを作成する（プロジェクトメンバー全員、もしくはプロジェクトリーダー）
      %br
      ４、タスクを開始するボタンを押して、始める（タスクの担当メンバー）
      %br
      ５、タスクが終了したら、終了ボタンを押しましょう（タスクの担当メンバー）
      %br
      ６、プロジェクトに紐づくタスクが終了したら、プロジェクトの状態を完了にする（プロジェクトリーダー）
      %br
      %br

      ページ説明
      %br
      ３つのマイページ
      %br
      ・プロジェクト
      左:新しいプロジェクトを追加できます。また、リーダーになっている（自身が作成した）プロジェクトを確認できます。
      %br
      中央:参加しているプロジェクト、タスクを確認できます。
      %br
      右:チャットです。

      ・メッセージ
      %br
      左:プロジェクト、タスクそれぞれのあなた宛のメッセージを確認することができます。
      %br
      中央:メッセージを送ることができます。また、受信、送信、返信メッセージを確認することができます。
      %br
      右:チャットです。
      %br
      %br
      ・タスク
      %br
      左:あなたが担当しているタスクの情報を確認できます。完了率など、見ることができます。
      %br
      中央:担当しているタスク、コメントを確認することができます。
      %br
      右:チャットです。
      %br
      %br
      詳細ページ
      %br
      ・プロジェクト詳細ページ
      %br
      左:プロジェクトの詳細を確認できます。また、左下からメンバーの追加、プロジェクトの中止、完了決定をすることができます。
      %br
      中央:プロジェクトのコメントを確認できます。
      %br
      右:プロジェクトに関するタスクの追加ができます。また、タスクの一覧を見ることができます。
      %br
      %br
      ・タスク詳細ページ
      %br
      タスクの詳細と、コメントを確認できます。
      %br
      また、タスクの編集、削除はここでできます。
      %br
      %br
      ・一覧検索ページ
      %br
      全てのプロジェクト、タスクを検索することができます。
      %br
