-# .comment_list
-#   - @comments.each do |comment|
-#     .comment_comment
-#       = comment.comment
-#     .comment_user_name  
-#       = comment.user.name
-#     .comment_time
-#       = comment.created_at
-#   -# = image_tag comment.image.ure

-# メイン
