-# edit
-# @projectをProjectに変更したら、値が送れるようになった。projectの中にtask_idカラムがないことが原因かも
.edit_task
  .edit_task_main
    .edit_task_wrapper
      タスク編集画面
      = form_with model:[Project, @task], local:true do |f|
        .edit_task_wrapper__title
          タスク名
          %br
          = f.text_field :title
        .edit_task_wrapper__estimated_time
          予測時間
          %br
          = f.text_field :estimated_time
        .edit_task_wrapper__submit_btn
          = f.submit "送信", class:"submit_btn"
