-# edit
-# @projectをProjectに変更したら、値が送れるようになった。projectの中にtask_idカラムがないことが原因かも
.new_project
  .new_project_main
    タスク編集画面
    .new_project_wrapper
      = form_with model:[Project, @task], local:true do |f|
        .new_project_wrapper__title
          タスク名
          %br
          = f.text_field :title
        .new_project_wrapper__user
          予測時間
          %br
          = f.text_field :estimated_time
        .new_project_wrapper__submit_btn
          = f.submit "send"
