ユーザータスク管理画面に変更する
.main
  .main_wrapper
    .main_left
      いくつタスクがあるか、プロジェクトごとのタスク一覧、完了率

      -# = render "users/user_project"
    .main_middle
      = render "users/user_task"
    .main_right
      = render "comments/comment_index"


