ユーザータスク管理画面に変更する
.user_task
  .user_task_main
    - @user_tasks.each do |user_task|
      .user_task_main__title
        = user_task.title
      .user_task_main__estimated_time  
        = user_task.estimated_time
        時間

