.main
  = current_user.name
  さんのマイページ（作業スペース）です。

  .main_wrapper
    .main_left
      = render "users/project_task_comment"
    .main_middle
      = render "users/user_comment"
    .main_right
      = render "comments/comment_index"
      
