.project_detail_main
  .project_detail_left
    = render "projects/project_comment"
  .project_detail_center
    = render "projects/project_detail"
  .project_detail_right
    = render "projects/project_task"
    