.main_join_project {
  height: 100%;
  width: 100%;
}

.main_join_project_font {
  text-align: center;
}

.join_project {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.project_and_task_wrapper {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.join_project_wrapper {
  height: 100%;
  width: 80%;
  margin: 10px auto;
  word-wrap: break-word;
  border: solid 1px black;
  background-color: white;
  &__title {
    margin: 5px;
  }
  &__status {
    margin: 5px;
  }
  &__created_at {
    margin: 5px;
  }
  &__task_rate {
    margin: 5px;
  }
  &__owner {
    margin: 0 5px;
  }
  &__explanation {
    margin: 5px;
  }
  &__deadline {
    margin: 5px;
  }
  &__project_comment {
    margin: 5px;
  }
  &__comment_link {
    margin: 5px 0 10px 0;
  }
  &__edit_link {
    margin: 5px 0;
  }
  &__delete_link {
    margin: 5px 0;
  }
}

.join_project_wrapper_link {
  text-decoration: none;
  color: black;
}

.join_project_function {
  display: flex;
  margin-left: 5px;
}

.owner_project_icon {
  margin-left: 10px;
}

.task_list_display {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

.task_list_hide {
  display: none;
  background-color: red;
  color: white;
  cursor: pointer;
}


// task css
.task_list_hide {
  display: none;
}

.btn_posotion {
  padding-left: 30px;
}

.task {
  height: 100%;
  width: 100%;
  display: none;
  margin-bottom: 80px;
}

.task_wrapper {
  height: 100%;
  width: 80%;
  word-wrap: break-word;
  border: solid 1px black;
  margin: 10px auto;
  background-color: white;
  &__title {
    margin: 5px;
  }
  &__status {
    margin: 5px;
  }
  &__charge {
    margin: 0 5px;
  }
  &__detail {
    margin: 5px;
  }
}

.task_wrapper_link {
  text-decoration: none;
  color: black;
  background-color: white;
}

.no_task_message {
  padding: 5px 20px;
}

.no_join_project {
  text-align: center;
  padding: 10px;
}

// task_comment css
.task_comment {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.task_comment_wrapper {
  height: 100%;
  width: 100%;
  margin: 10px auto;
  overflow: scroll;
  border: solid 1px black;

  &__title {
    margin: 5px;
  }
  &__explanation {
    margin: 5px;
  }
  &__to_user {
    margin: 5px;
  }
}

.task_comment_wrapper_link {
  text-decoration: none;
  color: black;
}

.task_comment_function {
  display: flex;
  margin: 0 0 5px 5px;

}

.task_comment_icon {
  margin: 5px 5px 0;
}

