.project_message{
  height: 100%;
  width: 100%;
  margin: 10px;
}

.project_message_wrapper {
  height: 50%;
  width: 95%;
  margin: 0 auto;
  overflow: scroll;
  border: 1px solid black;
  &__title {
    padding: 0 5px;
  }
  &__from_user {
    padding: 0 5px;
  }
  &__comment {
    padding: 0 5px;
  }
}



// タスク
.task_message {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.task_message_wrapper {
  height: 50%;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow: scroll;
  border: 1px solid black;
  &__title {
    padding: 0 5px;
  }
  &__from_user {
    padding: 0 5px;
  }
  &__comment {
    padding: 0 5px;
  }
}


.procect_task_comment_link {
  text-decoration: none;
}