.project_message{
  height: 100%;
  width: 100%;
  margin: 10px;
}

.project_message_font {
  margin:0 0 10px 10px;
}

.project_message_wrapper {
  height: 50%;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  word-wrap: break-word;
  overflow: scroll;
  border: 1px solid black;
  // display: none;
  background-color: white;
  &__title {
    margin: 0 5px;
  }
  &__comment {
    margin: 5px;
  }
}

.project_message_wrapper_from_time_wrapper {
  display: flex;
    &__from_user {
      margin: 0 5px;
    }
    &__created_at {
      margin: 0 5px 0 20px;
    }
}



// タスク
.task_message {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.task_message_font {
  margin:0 0 10px 10px;
}

.task_message_wrapper {
  height: 50%;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  word-wrap: break-word;
  overflow: scroll;
  border: 1px solid black;
  // display: none;
  background-color: white;
  &__title {
    margin: 0 5px;
  }
  &__from_user {
    margin: 0 5px;
  }
  &__created_at {
    margin: 0 5px;
  }
  &__comment {
    margin: 5px;
  }
}

.procect_task_comment_link {
  text-decoration: none;
}

.project_message_show_btn {
  background-color: wheat;
  color: black;
  display: none;
}
.project_message_hide_btn {
  background-color: red;
  color: white;
}

.task_message_show_btn {
  background-color: wheat;
  color: black;
  display: none;
}
.task_message_hide_btn {
  background-color: red;
  color: white;
}


