.user_task_info {
  height: 100%;
  width: 100%;
  // text-align: center;
}

.user_task_info_wrapper {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  word-wrap: break-word;

  &__rate {
    margin: 10px;
  }
  &__count {
    margin: 10px;
  }
  &__complete_task {
    margin: 10px;
  }
  &__complete_task_list {
    margin: 10px;
  }
  &__no_complete_task {
    margin: 10px;
  }
  &__no_complete_task_list {
    margin: 10px;
  }
}



.complete_task_title {
  padding-left: 10%;
  display: none;
}


.no_complete_task_title {
  padding-left: 10%;
  display: none;
}

.user_task_info_wrapper__complete_show_btn {
  background-color: wheat;
}

.user_task_info_wrapper__complete_hide_btn {
 display: none;
 background-color: red;
 color: white;
}

.complete_task_btn_wrapper {
  margin: 5px 20px;
}

.user_task_info_wrapper__no_complete_show_btn {
  background-color: wheat;
}

.user_task_info_wrapper__no_complete_hide_btn {
 display: none;
 background-color: red;
 color: white;
}
