.user_task {
  height: 100%;
  width: 100%;
}

.user_task_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user_task_font {
  width: 100%;
  text-align: center;
}


.user_task_main_wrapper {
  height: 100%;
  width: 80%;
  margin: 10px auto;
  border: solid 1px black;
  word-wrap: break-word;
  padding: 5px;
  &__title {
    margin: 5px;
  }
  &__creater {
    margin: 5px;
  }
  &__created_at {
    margin: 5px;
  }
  &__estimated_time {
    margin: 5px;
  }
  &__project {
    margin: 5px;
  }
  &__task_comment {
    margin: 10px;
  }
}

.user_comment_btn_wrapper {
  margin: 10px 60px;
}

.user_task_display_btn {
  background-color: wheat;
}

.user_task_hide_btn {
  display: none;
  background-color: red;
  color: white;
}



.user_task_comment_list {
  width: 80%;
  height: 100%;
  margin: 10px auto 0;
  display: none;
}

.user_task_comment {
  width: 100%;
  height: 100%;
  margin: 0 auto 80px;
}

.user_task_comment_wrapper {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: solid 1px black;
  &__created_at {
    margin: 0 0 5px 20px;
  }
}

.link {
  text-decoration: none;
}

.user_no_task_message {
  text-align: center;
}

.user_task_comment_wrapper {
  width: 100%;
  margin: 5px 0;
  &__title {
    margin: 0 5px;
  }
  &__created_at {
    margin: 5px;
  }
  &__comment {
    margin: 5px;
  }
}

.user_task_comment_from_to_wrapper {
  display: flex;
  &__from_user {
    margin: 0 5px;
  }
  &__to_user {
    margin: 0 10px;
    
  }
}