.owner_project {
  height: 100%;
  width: 100%;
}

.owner_project_link_font {
  text-align: center;
  font-size: 20px;
}

.owner_project_content {
  text-align: center;
}

.owner_project_wrapper {
  height: 100%;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  overflow: scroll;
  word-wrap: break-word;
  border: solid 1px black;
  &__title {
    margin: 5px;
  }
  &__status {
    margin: 5px;
  }
  &__created_at {
    margin: 5px;
  }
  &__task_rate {
    margin: 5px;
  }
  &__explanation {
    margin: 5px;
  }
  &__deadline {
    margin: 5px;
  }
  &__comment_link {
    margin: 5px 0;
  }
  &__edit_link {
    margin: 5px 0;
  }
  &__delete_link {
    margin: 5px 0;
  }
}

.owner_project_wrapper_link {
  text-decoration: none;
  color: black;
}

.owner_project_function {
  display: flex;
  margin-left: 5px;
}

.owner_project_icon {
  margin-left: 10px;
}