// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// comment/index
.sign {
  width: 100%;
  margin: 50px 0;
  text-align: center;
  &__in_link {
    margin: 10px;
  }
  &__up_link {
    margin: 10px;
  }
}



.comment {
  height: 100%;
  width: 100%;
}

.new_comment {
  height: 200px;
  width: 100%;
  text-align:center;
}

.comment_content_form {
  height: 100px;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
}



.image_label {
  height: 30px;
  width: 30px;
  padding: 20px;
}

.image_and_submit_wrapper {
  display: flex;
  justify-content: flex-end;
}

.image_field {
  display: none;
}

.comment_submit {
margin-right: 20px;
}


// コメント表示
.comment_list {
  overflow: scroll;

}

.comment_list_wrapper {
  height: 100%;
  width: 90%;
  margin: 10px auto;
  border: solid 1px black;
  padding: 5px;
  word-wrap: break-word;
}

.comment_content {
  padding: 5px;
}

.comment_images {
  padding: 0 5px;
}

.comment_user_name {
  padding: 0 5px;
}

.comment_time {
  padding: 5px;
}


.comment_image {
  height: 100px;
  width: 100px;
  padding-left: 20px ;
}

.json_image {
  height: 100px;
  width: 100px;
}

.comment_user_time_wrapper {
  display: flex;
  justify-content: space-between;
}

.comment_delete {
  margin: 0 0 5px 5px;
}

