// sign_up
.sign_up_font {
  text-align: center;
  margin: 10px;
}

.sign_up {
  height: 100%;
  width: 100%;
}

.sign_up_wrapper {
  width: 50%;
  margin: 0 auto;
}

.field {
  text-align: center;
  margin: 10px;
}

.actions {
  text-align: center;
  margin: 0 auto;
}

.login_link {
  margin: 10px;
  text-align: center;
}


// login
.login_font {
  text-align: center;
  margin: 10px;
}

.login {
  height: 100%;
  width: 100%;
}

.login_wrapper {
  width: 50%;
  margin: 0 auto;
}

.field {
  text-align: center;
  margin: 10px;
}

.actions {
  text-align: center;
  margin: 0 auto;
}

.login_link {
  margin: 10px;
  text-align: center;
}



.new_password_font {
  text-align: center;
  margin: 10px;
}
