// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.owner_project_link_content {
  font-size: 20px;
  padding: 0 20px;
}

.owner_project_content {
  padding: 10px 20px 0 20px;
}



// search
.project_search {
  text-align: center;
  margin: 10px;
}


// project/index
.all_project_task {
  display: flex;
  margin: 10px;
}

.all_project {
  height: 100%;
  width: 40%;
  margin: 0 auto;
}



// project/show
.project_detail_main {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 10px 30px;
}

// 左
.project_detail_left {
  height: 100%;
  width: 30%;
  margin: 0 auto;
}

.project_detail {
  padding: 5px;
  &__font {
    text-align: center;
    margin-bottom: 10px;
  }
  &__title {
    padding: 5px;
    word-wrap: break-word;
  }
  &__status {
    margin: 0 5px;
  }
  &__created_at {
    margin: 5px;
  }
  &__owner {
    margin: 0 5px;
  }
  &__deadline {
    margin: 5px;
  }
  &__explanation_font {
    margin: 0 5px;
  }
  &__explanation {
    height: 300px;
    width: 90%;
    border: solid 1px black;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow: scroll;
  }
}


.project_detail_explanation_box {
  padding: 5px;
}

.member_btn_wrapper {
  margin: 5px 0;
}


.project_detail_join_user_show {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

.project_detail_join_user_hide {
  display: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

.project_detail_join_user {
  display: none;
}

.add_user {
  margin: 30px 0;
}

.user_number_form {
  margin: 10px 0;
}

.complete_project {
  margin: 30px 0;
}

.add_user_select {
  height: 25px;
  width: 150px;
}

#complete_id {
  height: 25px;
  width: 70px;
}

.complete_project_select {
  margin: 10px 0;
}


// 真ん中
.project_detail_center {
  height: 100%;
  width: 35%;
}

.project_detail_center_font {
  text-align: center;
}

.project_detail_center_wrapper {
  height: 100%;
  width: 80%;
  border: solid 1px black;
  padding: 5px;
  margin: 10px auto;
  word-wrap: break-word;
}

.project_detail_center_content {
  padding: 5px 0;
}

.to_from_wrapper{
  display: flex;
  margin: 10px 0;
}

.project_detail_center_to_user {
  margin-left: 30px;
}



// 右
.project_detail_right {
  height: 100%;
  width: 35%;
  // text-align: center;
}

.add_task_font {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: yellow;
  width: 70%;
}



.detail_task_wrapper {
  height: 100%;
  width: 90%;
}

.add_task {
  display: none;
  height: 100%;
  width: 90%;
  margin: 0 10px;
}

.add_task_title {
  margin: 5px;
}

.add_task_field {
  height: 20px;
  width: 300px;
  padding: 5px;
}

.add_task_user_time_wrapper {
  display: flex;
  margin: 10px 0;
}

#to_user_id {
  height: 33px;
  width: 125px;
}


.add_task_user {
  margin: 5px;
}

.add_task_estimated_time {
  margin: 5px;
}

.estimated_time_wrapper {
  display: flex;
  &__btn {
    margin: 10px 0 10px 10px;
  }
}

.add_task_time_field {
  height: 20px;
  width: 100px;
  padding: 5px;

}


.project_detail_tasks_wrapper {
  border: solid 1px black;
  margin: 10px;
  word-wrap: break-word;
  &__title {
    margin: 5px;
  }
  &__time {
    margin: 0 5px;
  }
  &__time_to_user {
    margin: 5px;
  }
  &__task_comment {
    margin: 5px;
  }
}

.project_detail_tasks_font {
  margin-left: 10px;
}

.project_link {
  text-decoration: none;
}

.time_btn_wrapper {
  display: flex;
  margin-left: 5px;
}

.task_start_time {
  margin: 5px;
}

.task_stop_time {
  margin: 5px;
}





// project/new

.new_project {
  height: 100%;
  width: 100%;
}

.new_project_main {
  height: 100%;
  width: 40%;
  margin: 10px auto;
}

.new_project_wrapper {
  margin: 10px;
  &__title {
    padding: 5px;
  }
  &__explanation {
    padding: 0 5px;
  }
  &__deadline {
    padding: 0 5px;
  }
  &__user {
    padding: 0 5px;
  }
  &__submit_btn {
    padding: 0 5px;
  }
}

.new_title_field {
  padding: 5px;
  width: 90%;
}

.new_explanation_field {
  height: 300px;
  width: 100%;
  padding: 5px;
}


// project/edit
.edit_project {
  height: 100%;
  width: 100%;
}

.edit_project_main {
  height: 100%;
  width: 35%;
  margin: 0 auto;
}

.new_project_main_font{
  text-align: center;
}

.edit_project_main_font {
  margin: 10px;
  text-align: center;
}

.edit_project_wrapper {
  margin: 10px;
  &__title {
    padding: 5px;
  }
  &__explanation {
    padding: 5px;
  }
  &__deadline {
    padding: 0 5px;
  }
  &__submit_btn {
    padding: 0 5px;
  }
}