// Place all the styles related to the task_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// task_comment/new
.new_task_comment {
  height: 100%;
  width: 100%;
  margin: 10px;
}
.new_task_comment_main {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.new_task_comment_wrapper {
  margin: 10px;
  &__title {
    padding: 5px;
  }
  &__comment {
    padding: 0 5px;
  }
  &__to_user {
    padding: 0 5px;
  }
  &__submit_btn {
    padding: 5px;
  }
}

.comment_title {
  padding: 5px;
}

.comment_area {
  height: 300px;
  width: 450px;
  padding: 5px;
}