// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// tasks/_all_task
.all_task {
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.all_task_font {
  width: 100%;
  text-align: center;
}

// search
.task_search {
  text-align: center;
  margin: 10px;
}

.search_input {
  padding: 5px;
  width: 50%;
}

// task/show
.task_detail {
  height: 100%;
  width: 100%;
}

.task_detail_font {
  height: 100%;
  width: 100%;
  margin: 20px;
  text-align: center;
}

.task_detail_main {
  height: 100%;
  width: 35%;
  margin: 10px auto;
}

.task_detail_wrapper {
  margin: 20px auto;
  border: solid 1px black;
  word-wrap: break-word;
  &__title {
    margin: 5px;
  }
  &__status {
    margin: 5px;
  }
  &__created_at {
    margin: 5px;
  }
  &__project_name {
    margin: 5px;
  }
}

.task_detail_title_estimated_user_wrapper {
  display: flex;
  margin: 5px;
  margin-bottom: 20px;
}

.task_detail_wrapper_user {
  padding-left: 30px;
}
.task_detail_wrapper_to_user {
  padding-left: 30px;
}

.edit_delete_wrapper {
  display: flex;
  margin-bottom: 10px;
  &__edit {
    padding-left: 15px;
  }
  &__delete {
    padding-left: 15px;
  }
  &__task_comment {
    padding-left: 15px;
  }
}

.time_btn_wrapper {
  margin: 5px;
}

.task_link {
  text-decoration: none;
}


.task_detail_comment_list {
  height: 100%;
  width: 40%;
  margin: 10px auto;
}

.task_detail_comment_list_font {
  text-align: center;
}

.task_detail_comment {
  margin: 20px;
}

.task_detail_comment_wrapper {
  padding: 5px;
  border: solid 1px black;
  margin: 10px auto;
  word-wrap: break-word;
  overflow: scroll;
}

.task_detail_comment_from_to_wrapper {
  display: flex;
  &__from_user {
    padding: 5px;
  }
  &__to_user {
    padding: 5px 0 5px 10px;
  }
}


// task/edit
.edit_task {
  height: 100%;
  width: 100%;
}

.edit_task_main {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.edit_task_wrapper {
  height: 100%;
  width: 20%;
  margin: 10px auto;
  &__title {
    padding: 5px;
  }
  &__estimated_time {
    padding: 5px;
  }
  &__submit_btn {
    padding: 5px;
  }
  
}