// Place all the styles related to the user_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_user_comment {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.new_user_message {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.message_link {
  text-decoration: none;
}

.message_btn_list {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.reply_list_display_click {
  background-color: wheat;
  color: black;
}

.reply_list_hide_click {
  background-color: red;
  color: white;
}

.receive_list_font {
  text-align: center;
}

.receive_list_display_click {
  background-color: wheat;
  color: black;
}

.receive_list_hide_click {
  background-color: red;
  color: white;
}

.send_list_display_click {
  background-color: wheat;
  color: black;
}

.send_list_hide_click {
  background-color: red;
  color: white;
}


// 受信
.main_user_comment_wrapper {
  height: 50%;
  width: 80%;
  word-wrap: break-word;
  border: 1px solid black;
  margin: 10px auto;
  &__title {
    margin: 5px;
  }
  &__message {
    margin: 0 5px;
    word-wrap: break-word;
  }
}

.time_from_wrapper {
  display: flex;
  margin: 5px;
  &__created_at {
    margin-left: 20px;
  }
}

.main_user_comment_title {
  width: 100%;
  padding: 5px 0 0 5px;
  word-wrap: break-word;
}
.main_user_comment_from_user {
  padding: 0 5px;
}


// 返信
.reply_list {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
  display: none;
}

.reply_list_font {
  text-align: center;
}

.reply_list_wrapper {
  padding: 0 5px 5px 5px ;
  border: 1px solid black;
  word-wrap: break-word;
  margin: 10px auto;
  background-color: blanchedalmond;
  &__content {
    margin: 5px;
  }
}

.reply_time_from_wrapper {
  display: flex;
  margin: 5px;
  &__created_at {
    margin-left: 20px;
  }
}

.reply_list_content {
  word-wrap: break-word;
  padding: 5px;
}

.reply_list_from_user {
  padding: 5px;
}


.reply_list_hide_click {
  display: none;
}

.receive_list_display_click {
  display: none;
}

.send_list_display_click {
  display: none;
}


// 送信
.send_list_font {
  margin-top: 30px;
  text-align: center;
}

.send_list_wrapper {
  height: 50%;
  width: 80%;
  overflow: scroll;
  border: 1px solid black;
  margin: 10px auto;
  &__title {
    margin: 5px;
    word-wrap: break-word;
  }
  &__content {
    margin: 0 5px;
    word-wrap: break-word;
  }
}

.time_to_wrapper {
  display: flex;
  margin: 0 5px;
  &__created_at {
    margin: 0 0 5px 20px;
  }
}




// user_comment/new
.user_new_comment {
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.user_new_comment_font {
  text-align: center;
  margin: 10px;
}

.user_new_comment_title_field {
  width: 90%;
  padding: 5px;
}

.user_new_comment_wrapper {
  margin: 10px;
  &__title {
    margin: 5px;
  }
  &__comment {
    margin: 0 5px;
  }
  &__to_user {
    margin: 0 5px;
  }
  &__submit_btn {
    margin: 10px 5px;
  }
}

.user_comment_detail_created_at {
  margin-left: 20px;
}

.user_comment_detail_link_wrapper {
  display: flex;
}

.detail_delete_link {
  margin-left: 20px;
}

.user_comment_field {
  height: 300px;
  width: 90%;
  padding: 5px;
}

.user_new_comment_select_field {
  height: 30px;
  width: 200px;
}


.reply_list_link {
  margin: 0 0 5px 5px;
}


// user_comment/show
.user_comment_detail {
  height: 50%;
  width: 100%;
}

.user_comment_detail_font {
  text-align: center;
  margin-top: 20px;
}

.user_comment_detail_main {
  height: 50%;
  width: 30%;
  margin: 20px auto;
  border: solid 1px black;
  padding: 5px;
  word-wrap: break-word;
}
.user_comment_detail_title {
  padding: 0 5px;
}
.user_comment_detail_comment {
  padding: 5px;
}



.user_comment_detail_to_from_wrapper {
  display: flex;
}
.user_comment_detail_from_user {
  padding-left: 5px;
}
.user_comment_detail_to_user {
  padding-left: 15px;
}

.user_comment_detail_reply {
  height: 50%;
  width: 30%;
  margin: 10px auto;
  word-wrap: break-word;
}

.user_comment_detail_reply_font {
  text-align: center;
  margin: 10px;
}

.user_comment_detail_reply_wrapper {
  border: solid 1px black;
  padding: 5px;
  margin-bottom: 10px;
  &__content {
    padding: 5px 0 10px;
  }
}

