// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  width: 100%;
  height: 100%;
  background-color: azure;
}

.main_wrapper {
  display: flex;
  padding: 10px;
}

.main_right {
  height: 100%;
  width: 33%;
}

.main_middle {
  height: 100%;
  width: 33%;
}

.main_left {
  height: 100%;
  width: 33%;
}