// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 232, 232);
}

.main_wrapper {
  display: flex;
  width: 100%;
}

.main_left {
  height: 100%;
  width: 30%;
  padding: 20px 0;
}

.main_middle {
  height: 100%;
  width: 35%;
  padding: 20px 0;
}

.main_right {
  height: 100%;
  width: 35%;
  padding: 20px 0;
}

