.project_comment_main
  .project_comment_main_font
    プロジェクトへのコメント
  .project_comment_wrapper
    .project_comment_wrapper__title
      タイトル:
      = @project_comment.title
    .project_comment_wrapper__comment
      コメント
      %br
      = @project_comment.comment
    .project_comment_to_from_wrapper
      .project_comment_to_from_wrapper__from_user
        From:
        = @project_comment.user.name
      .project_comment_to_from_wrapper__to_user
        To:
        = @to_user.name